@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #547792;
  --color-secondary: #1d4d3a;
  --color-tertiary: #547792;
  --color-dark: #183a4d;
  --color-light: #ECEFCA;
  /* --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono); */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
/* @media ( min-width: 640px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    margin-right: 40rem;
    margin-left: 40rem;
  }
}
@media ( min-width: 1024px) {
  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    margin-right: 40rem;
    margin-left: 40rem;
  }
}*/
@media ( min-width: 640px) {
  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    margin-right: 40rem;
    margin-left: 40rem;
  }
} 

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: 'Helvetica Neue', sans-serif;
}
